---
#cloud-config
debug: True
ssh_pwauth: True
disable_root: False
chpasswd:
  list: |
    root:{{ vm_password }}
    cloud-user:{{ vm_password }}
  expire: false
runcmd:
- sed -i'.orig' -e's/without-password/yes/' /etc/ssh/sshd_config
- service sshd restart
